<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" routerLink="/">Ng Customer List</a>
    <button mat-button routerLink="/customers" routerLinkActive="active">
      <span>Customers</span>
    </button>
  </div>
  <span fxFlex></span>
</mat-toolbar>
